/* Allgemeines Styling für die gesamte Seite */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Container für zentrierten Inhalt */
.container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

/* Styling für die Hauptüberschrift */
h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Styling für das Suchfeld */
.search-container {
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #121212;
    color: #ffffff;
    font-size: 1em;
}

.search-input::placeholder {
    color: #888888;
}

/* Styling für Listen von Dateien und Mitarbeitern */
.file-list {
    margin-top: 20px;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.file-item {
    background: linear-gradient(145deg, #2e2e2e, #121212);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    box-shadow: 5px 5px 15px #0f0f0f, -5px -5px 15px #252525;
    transition: background-color 0.3s;
}

.file-item:hover {
    background-color: #333333;
}

/* Styling für das Upload-Feld */
.upload-container {
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.upload-container input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background: linear-gradient(145deg, #2e2e2e, #121212);
    border: 1px solid #333;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

.upload-container input[type="file"]::file-selector-button {
    background-color: #333333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}

/* Styling für den Upload-Button */
.upload-container button {
    background: linear-gradient(145deg, #00e676, #00c853);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.upload-container button:hover {
    background: linear-gradient(145deg, hwb(0 0% 100%), #000000);
}

.upload-container button:active {
    background: #009624;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

   
    